.imagen{
    width: 3cm;
    padding: 0px 0px 0px 440px;
}
li{
    list-style: none;
    display: inline;
    padding: 0px 10px 0px 90px;
}
a{
    color:rgb(255, 0, 179);
}
header{
    height: 20%;
    background-color: cadetblue;
}
nav{
    height: 20%;
    background-color: blue ;
}
main{
    height: 20%;
    background-color: rgb(108, 216, 0);
}