mark.aa{
    margin-left: 160px;
    background-color: cadetblue;
}
span.mundo1{
color:aqua;
background-color: rgb(255, 0, 0);
}
span.mundo2{
    color:rgb(247, 0, 255);
    background-color: rgb(0, 0, 0);
    }
