h1.hola{
color: blue;
background-color:yellow ;
border:red 5px solid;
}
h1.Adios{
color: blue;
background-color: aqua;
border:blue 5px solid;
}
body{
    background-color:chartreuse;
}
.Villablanca{
width: 200px;
height:200px;
float:right;
border:rgb(24, 38, 233) 5px solid;
}
h1 mark{
    background-color: white;
    color: red;
}
h1.Parrafo{
float:left;
}
div{
    border: blueviolet 3px solid;

}